.carousel-item img{
	heigth:100%;
	width:100%;
}
.carousel-caption
{
	background-color: #544F4F;
	color: white;
	width: 100%;
	left: 0;
}
.carousel-caption h3 p
{
	color:black;
	 font-family: sans-serif;
	 position: absolute;
	 top:50%;
	 left: 50%;
	 transform: translate(-50%,-50%);
	 transition: .5s ease;
	 font-size: 20px;
	 display:block;

}
.carousel-indicators{
	margin-bottom:20px;
}
